{% extends "base.html" %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Small internet shop</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Welcome to our online store, where you can find the latest iPhone models at competitive prices.
                        We specialize in selling original Apple products, ensuring our customers receive only the best
                        gadgets that meet all
                        modern requirements.
                        Whether you're looking for the newest releases or popular previous models, we have something to
                        suit your needs.
                        <br/><br/>
                        We strive to provide the highest level of service with fast shipping, convenient payment
                        options, and professional
                        support at every step of the purchase.
                        Our mission is to make buying an iPhone easy and enjoyable, so you can enjoy your new device
                        without any hassle.
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}